<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptates, sunt nam atque esse iste nulla cum ab illum quasi perferendis earum nemo mollitia, harum veniam a aut nihil praesentium?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium culpa ea totam quasi possimus nulla commodi nisi eius voluptas quo quod odio quos et, mollitia eaque quas, a hic fuga?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, pariatur expedita ipsum assumenda ipsam minima! Maxime modi dicta consequuntur ad, iusto delectus. Asperiores voluptatem vitae vero maiores quos eius sed.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>